{% extends 'main/defbase.html' %}
{% block content %}
<h1>{{title}}</h1>
<div class="container mt-5">

<h2>Про нас</h2>
<p>Ласкаво просимо на наш сервіс вантажних перевезень – зручну та ефективну платформу для пошуку вантажів та транспорту! Ми об'єднуємо вантажовідправників та перевізників, створюючи простір для швидкого і вигідного укладання угод. Наш сервіс спрощує логістичні процеси, роблячи їх прозорими, зручними та надійними.</p>

<h2>Що ми пропонуємо:</h2>
<ul>
<ol><strong>Пошук вантажу:</strong> Простий і швидкий пошук актуальних вантажів по всій країні. Знаходьте вантажі, що відповідають вашим потребам, і одразу зв'язуйтесь з вантажовідправниками.</ol>
<ol><strong>Пошук транспорту:</strong> Широкий вибір транспортних засобів для будь-якого типу вантажу. Публікуйте оголошення про наявність транспорту та отримуйте пропозиції від вантажовідправників.</ol>
<ol><strong>Відгуки та рейтинг:</strong> Залишайте та читайте відгуки про перевізників та вантажовідправників. Довіра та прозорість – основа нашої спільноти.</ol>
<ol><strong>Зручний інтерфейс:</strong> Система пошуку та комунікації розроблена для вашого комфорту – все, що потрібно, у вас під рукою.</ol>
</ul>
<h2>Чому обирають нас:</h2>
<ul>
    <ol><strong>Економія часу:</strong> Знайдіть транспорт чи вантаж за кілька кліків без зайвих дзвінків та очікувань.</ol>
    <ol><strong>Безпека та надійність:</strong> Ми ретельно перевіряємо учасників платформи, щоб гарантувати вам безпечні перевезення.</ol>
    <ol><strong>Відгуки та рейтинги:</strong> Орієнтуйтесь на відгуки від інших користувачів, щоб укладати угоди тільки з перевіреними партнерами.

    </ol>

</ul>

<p>Ми створені для того, щоб полегшити ваші перевезення та допомогти зробити логістику простою і доступною. Приєднуйтесь до нашої спільноти вже сьогодні та оцініть переваги сучасного вантажного сервісу!</p>

</div>
{% endblock %}
