{% extends 'main/base.html' %}
{% block content %}

<div class="container mt-5">

<h1>{{title}}</h1>

    <h2>Рейтинг розраховується на основі середнього значення відгуків, а потім застосовується штраф за скарги. Для цього потрібно:</h2>
    <ul>
        <li>Знайти середній рейтинг відгуків.</li>
        <li>Перевести середній рейтинг у шкалу 0-100.</li>
        <li>Відняти штрафи за скарги (наприклад, 5 балів за кожну скаргу).</li>
    </ul>

    <div class="example">
        <p>Допустимо:</p>
        <ul>
            <li>У користувача 10 відгуків з оцінками: 5, 4, 5, 3, 4, 5, 2, 4, 5, 3.</li>
            <li>2 скарги, штраф за кожну — 5 балів.</li>
        </ul>

        <div class="calculation">
            <p><strong>Середній рейтинг:</strong></p>
            <p>
                <span>(5 + 4 + 5 + 3 + 4 + 5 + 2 + 4 + 5 + 3)</span> ÷ 10 = 4
            </p>

            <p><strong>Оцінка за відгуки:</strong></p>
            <p>
                4 ÷ 5 × 100 = <span>80</span>
            </p>

            <p><strong>Штраф за скарги:</strong></p>
            <p>
                80 − (2 × 5) = <span>70</span>
            </p>

            <p><strong>Підсумковий рейтинг користувача:</strong> <span>70 балів</span>.</p>
        </div>
    </div>
    </div>
{% endblock %}
