{% extends 'main/defbase.html' %}

{% block content %}
<div class="container mt-5">
<h3 align="center">   Комунальний заклад освіти
    <br>
«Дніпровський науковий ліцей інформаційних технологій»</h3>

<br>
    ВИПУСКНА РОБОТА
<h4 align="center">На тему: Створення сайту
 вантажно-логістичних перевезень</h4>
<p>Виконав:</p>
<p align="right">Ліцеїст11-В-1 класу
    <br>
Пригара Кирило Юрійович</p>
<p>Керівник:</p>
<p align="right">Лавренюк І. В. </p>

<h5 align="center">Дніпро
    <br>
2024</h5>

</div>
{% endblock %}
