{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="container w-75" style="background-color: honeydew; border-radius: 40px; ">
    <form method="get" class="m-4">
         <div class="row">
        <div class="col-md-3">
            {{ form.country_from.label_tag }}
            {{ form.country_from }}
            <div class="form-error">{{ form.country_from.errors }}</div>
        </div>
        <div class="col-md-3">
            {{ form.country_to.label_tag }}
            {{ form.country_to }}
            <div class="form-error">{{ form.country_to.errors }}</div>
        </div>
         <div class="col-md-3">
            {{ form.max_weight.label_tag }}
            {{ form.max_weight}}
            <div class="form-error">{{ form.max_weight.errors }}</div>
        </div>
         <div class="col-md-3">
            {{ form.max_volume.label_tag }}
            {{ form.max_volume }}
            <div class="form-error">{{ form.max_volume.errors }}</div>
        </div>
    </div>

       <div class="row" align="center">
        <div class="col-md-3">
            {{ form.region_from.label_tag }}
            {{ form.region_from  }}
            <div class="form-error">{{ form.region_from.errors }}</div>

            {{ form.city_from.label_tag }}
            {{ form.city_from }}
            <div class="form-error">{{ form.city_from.errors }}</div>
        </div>

        <div class="col-md-3">
            {{ form.region_to.label_tag }}
            {{ form.region_to}}
            <div class="form-error">{{ form.region_to.errors }}</div>

            {{ form.city_to.label_tag }}
            {{ form.city_to }}
            <div class="form-error">{{ form.city_to.errors }}</div>

        </div>
        <div class="col-md-3">
            {{ form.load_unload.label_tag }}
            {{ form.load_unload  }}
            <div class="form-error">{{ form.load_unload.errors }}</div>
        </div>
        <div class="col-md-3">
            {{ form.body_type.label_tag }}
            {{ form.body_type }}
            <div class="form-error">{{ form.body_type.errors }}</div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#id_country_from').change(function() {
        var url = "{% url 'transport:load_regions' %}";
        var countryId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'country_id': countryId
            },
            success: function(data) {
                $("#id_region_from").html(data);
            }
        });
    });

    $('#id_region_from').change(function() {
        var url = "{% url 'transport:load_cities' %}";
        var regionId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'region_id': regionId
            },
            success: function(data) {
                $("#id_city_from").html(data);
            }
        });
    });

    $('#id_country_to').change(function() {
        var url = "{% url 'transport:load_regions' %}";
        var countryId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'country_id': countryId
            },
            success: function(data) {
                $("#id_region_to").html(data);
            }
        });
    });

    $('#id_region_to').change(function() {
        var url = "{% url 'transport:load_cities' %}";
        var regionId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'region_id': regionId
            },
            success: function(data) {
                $("#id_city_to").html(data);
            }
        });
    });
</script>
    <div align="center" class="mt-2">
        <button type="submit" class="btn btn-secondary rounded-pill px-3">Фільтрувати</button>
    </div>
    </form>
    </div>

     {% for cargo in transports %}

    <div class="container2">
        <div class="card">
            <div class="card-header2">
                <div class="left">
                    <i class="fas fa-clock"></i>
                    <span>{{ cargo.get_time }}</span>
                </div>
                <div class="right">
                    <div class="price">Дата завантаження: {{ cargo.loading_date }}</div>
                    <div class="tags">
                        {% for item in cargo.body_type.all %}
                        <span>{{ item.name }}</span>
                        {% endfor %}
                        <br>
                        Тип Завантаження:
                        {% for item in cargo.load_unload.all %}
                        <span>{{ item.name }}</span>
                        {% endfor %}
                        Дозволи:
                        {% for item in cargo.permissions.all %}
                        <span>{{ item.name }}</span>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="route">{{ cargo.country_from }}-{{ cargo.region_from }}-{{ cargo.city_from }} ---> {{ cargo.country_to }}-{{ cargo.region_to }}-{{ cargo.city_to }} — {{ cargo.get_distance }} км
                    <br>
                    {{ cargo.title }}
                </div>
                <div class="details">
                    <span>{{ cargo.max_weight }} кг</span>
                    <span>{{ cargo.max_volume }} м³</span>


                </div>
                <div class="details">
                    <span> Примітки: {{ cargo.notes}}</span>

                </div>
                <div class="right2">
                    <div align="center" >
                                        {% if cargo.photo and cargo.photo.url %}
                                    <img alt="фото транспорту" width="200" height="100"  src="{{cargo.photo.url}}">
                                    {% endif %}
                    </div>
                    <span>Створено о {{ cargo.created_at }}</span>
                    <br>
                    <span>Оновлено о {{ cargo.updated_at }}</span>
                </div>

                <div class="company">{{ cargo.author.name_company }}
                    <div class="star-rating">
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: {{ cargo.author.rating|floatformat:0 }}%;"></div>
                        </div>
                    </div>
                </div>

                <a href="{% url 'users:user_detail' cargo.author.id %}" style="color:green">Детальніше о перевізнику</a>

                <div class="contact">
                    <i class="fas fa-user"></i>
                    <span>{{ cargo.author.get_full_name }}</span>

                </div>
                <div class="contact">
                    <i class="fas fa-phone"></i>
                    <a href="tel:{{ cargo.author.tel }}">{{ cargo.author.tel }}</a>
                </div>
                <div class="contact">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:{{ cargo.author.email }}">{{ cargo.author.email }}</a>
                </div>

                </div>


            </div>
    </div>
        {% endfor %}

</div>
{% endblock %}

